.font-open-sans{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding:0;

}
header{
    background-color: #FFF8F3;
   padding-top:50px;
    background: url(images/developer.png), url(images/header_bg.png)  #FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat,no-repeat;
} 
.logo h2{
font-size: 45px;
font-weight: bolder;
color:#181818;

}
.logo span{
    color:#FD6E0A;
}
nav{
    width:47%;
    max-width:889px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.menu{
    display: flex;
    gap:71px;
   list-style: none;
    font-size: 20px;
    color:#474747;
    align-items: center;

}
.menu a{
     
    text-decoration: none;
     color:#474747;
}

.btn{
    border:none;
    border-radius:5px;
    background-color: #FD6E0A;
    padding:20px 35px;
    color:white;
    font-weight: bold;
    font-size:20px;
    cursor: pointer;

}

#banner{
   
    margin:47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 69%; */
    /* max-width: 1332px; */
   

}
.content{
    max-width: 585px;
    
}
.content h2{
    font-size:45px;
    font-weight: 600px;
    margin-bottom: 5px;
}
.content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom:20px;
}
.content p{
  font-size:18px;
  line-height: 30px;
  color:#757575;
  margin-bottom:30px;

}
#banner .content button{
   gap:60px;
   margin-bottom:
}

.img-content img{
    max-width: 584px;
    vertical-align: bottom;
}

 #about{
    padding-top:130px;
 }

 .about-container{
    width:60%;
    max-width: 1140px;
    margin:0 auto;
    background-color: #FFF8F3;
    padding:131px 156px;
    text-align: center;

 }
 .section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

 }
 .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
 }
 .section-heading p{
     font-size: 18px;
     /* line-height: 30px; */
     color:#757575;
     margin-bottom: 30px;
 }
 .about-info{
    display: flex;
    justify-content: space-around;
 }
 .about-card p{
    font-size: 20px;
    /* line-height: 30; */
 }
 about-card h4{
     font-size: 20px;
    line-height: 30;
    font-weight: bold;
 }
 #skills , #resume{
    padding-top:130px;

 }
 .skill-container{
    width: 60%;
    max-width: 1140px;
    margin:0 auto;
 }
 #skill-box{
    display: flex;
    gap:24px;

 }
 .skill-card{
    padding:30px;
    box-shadow: 0 6px 50px 0 #00000015;
    max-width: 267px;

 }
 .skill-card img{
    max-width: 44px;
    margin-bottom:30px;
 }
.skill-card h3{
    font-size: 20px;
    color:#181818;
    margin-bottom:20px;

}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
}
 .resume-container{
    display: flex;
    gap:71px;
    width:60%;
    max-width: 1140px;
    margin:0 auto;

 }
 .section-heading h2{
    margin-bottom:113px;

 }
.section-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color:#474747;
 }
 .resume-card{
    max-width: 511px;
    margin-right: 47px;
 }
 .card-title{
    font-size:25px;
    font-weight:bold;
    color:#474747;
    margin-bottom:10px;


 }
 .card-info{
    font-size:20px;
    font-weight:600;
    color:#757575;
    margin-bottom:20px;
 }
 .card-text{
    font-size:16px;
    line-height: 28px;
    color:#757575;
    margin:30px 0px;
 }
 .text-center{
    text-align: center;
 }
 footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding:130px 0;
 }
 .footer-container{
    width:60%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    gap:116px;


 }
 .footer-container .social{
    max-width: 562px;
 }
 .footer-container h2{
    font-size: 35px;
    color:#181818;
    margin-bottom: 20px;

 }
 .social p{
    font-size: 16px;
    line-height: 28px;
    color:#474747;
    margin-bottom: 30px;
 }
 .icon a{
    margin-right:24px;
 }
 .footer-container input[type="text"],.footer-container textarea{
    width:461px;
    padding:18px 30px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:#757575;
    
 }
    

