.font-open-sans{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding:0;

}
header{
    background-color: #FFF8F3;
   padding-top:50px;
} 
.logo h2{
font-size: 45px;
font-weight: bolder;
color:#181818;

}
.logo span{
    color:#FD6E0A;
}
nav{
    width:47%;
    max-width:889px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.menu{
    display: flex;
    gap:71px;
   list-style: none;
    font-size: 20px;
    color:#474747;
    align-items: center;

}
.menu a{
     
    text-decoration: none;
     color:#474747;
}

.btn{
    border:none;
    border-radius:5px;
    background-color: #FD6E0A;
    padding:20px 35px;
    color:white;
    font-weight: bold;
    font-size:20px;
    cursor: pointer;

}